<div class="col-6 border p-4">
    <h2>Edit a Product</h2>
    <form class="" (submit)="editProduct()">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="newProduct.title" [(ngModel)]="newProduct.title" required minlength=4 id="title" #title="ngModel" [value]="newProduct.title">
                <div class="alert alert-danger mb-0" *ngIf="(title.invalid && (title.dirty || title.touched))">
                   <span *ngIf="title.errors.required">Title is required</span>
                   <span *ngIf="title.errors.minlength">Title must be at least 3 characters</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Price</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="newProduct.price" [(ngModel)]="newProduct.price" required id="price" #price="ngModel" [value]="newProduct.price">
                <div class="alert alert-danger mb-0" *ngIf="(price.invalid && (price.dirty || price.touched))">
                   <span *ngIf="price.errors.required">Price is required</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Image Url</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="newProduct.imageUrl" [(ngModel)]="newProduct.imageUrl" [value]="newProduct.imageUrl">
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary mx-2" type="submit" [disabled]="title.invalid">Edit</button>
            <button class="btn btn-danger" [routerLink]="['/productList']" type="button">Cancel</button>
        </div>
    </form>
</div>
